@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
  --background: #0C0F1A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0F1A;
    --foreground: #ededed;
  }
}

body {
  @apply font-sans;
  background: var(--background);
  color: var(--foreground);
  padding-top: 60px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}